.footer {
  background-color: var(--color-dark-grey);
  padding-top: 75px;
  padding-bottom: 35px;
  &-inner {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-gap: 90px;
    &-left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .text-wrapper {
        p {
          color: #969696;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          padding: 0;
          margin: 0;
        }
      }
      .links {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }
    &-right {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .list-title {
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        li {
          color: #c4c4c4;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid #717171;
    span,
    a {
      color: #969696;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
    span {
      text-transform: uppercase;
    }
  }
}
